Repository teispace/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add path mapping for teieditor in tsconfig
  tsconfig.base.json
Due: prettier --write

feat(teieditor): refactor CLI test to use TypeScript and update dependencies
  .yarn/install-state.gz
  packages/teieditor/__tests__/cli/cli.test.ts
  packages/teieditor/custom/path/editor.tsx
  packages/teieditor/custom/path/toolbar.tsx
  packages/teieditor/lib/editor/toolbar.tsx
  packages/teieditor/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(examples/next-themes): showcase custom themes (solarized, dracula, nord)
  examples/next-themes/README.md
  examples/next-themes/src/app/globals.css
  examples/next-themes/src/app/page.tsx
  examples/next-themes/src/app/typed/page.tsx
  examples/next-themes/src/app/typed/theme.ts
  examples/next-themes/src/components/nav.tsx
Due: prettier --write, eslint --fix

fix(next-themes): address Copilot review feedback
  packages/next-themes/__tests__/dom.test.ts
  packages/next-themes/__tests__/resolve.test.ts
  packages/next-themes/__tests__/script.test.ts
  packages/next-themes/__tests__/server.test.ts
  packages/next-themes/__tests__/store-normalize.test.ts
  packages/next-themes/__tests__/view-transition.test.ts
  packages/next-themes/src/core/dom.ts
  packages/next-themes/src/core/resolve.ts
  packages/next-themes/src/core/script.ts
  packages/next-themes/src/core/store.ts
  packages/next-themes/src/core/view-transition.ts
  packages/next-themes/src/server/client-hint.ts
Due: prettier --write, eslint --fix

fix(ci): unblock root test, switch next-themes to jsdom + polyfills
  .yarn/install-state.gz
  package.json
  packages/next-themes/__tests__/script.test.ts
  packages/next-themes/__tests__/setup.ts
  packages/next-themes/package.json
  packages/next-themes/vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(next-themes): add next as devDep so type-check resolves /navigation and /headers
  .yarn/install-state.gz
  packages/next-themes/package.json
  yarn.lock
Due: prettier --write

chore: bump tooling to latest — vitest, typescript, next, biome
  .yarn/install-state.gz
  examples/next-themes/package.json
  examples/playground/package.json
  packages/next-themes/package.json
  yarn.lock
Due: prettier --write

chore(ci): bump GitHub Actions to Node 24 runtime
  .github/workflows/ci.yml
  .github/workflows/publish-alpha.yml
  .github/workflows/publish-beta.yml
  .github/workflows/release-please.yml
Due: prettier --write

fix(teieditor): clean up imports and improve formatting in context-menu, table-menu, insert-dropdown, and button components
  packages/teieditor/registry/components/context-menu/context-menu.tsx
  packages/teieditor/registry/components/table-menu/table-menu.tsx
  packages/teieditor/registry/components/toolbar/insert-dropdown.tsx
  packages/teieditor/registry/ui/button.tsx
Due: none

fix(teieditor): alias self-refs to source in vitest config
  packages/teieditor/vitest.config.ts
Due: prettier --write, eslint --fix

fix(teieditor): restore editor focus on inserts, checklist rendering, floating UI polish
  examples/playground/src/components/teieditor/components/bubble-menu/bubble-menu.tsx
  examples/playground/src/components/teieditor/components/code-bar/code-bar.tsx
  examples/playground/src/components/teieditor/components/context-menu/context-menu.tsx
  examples/playground/src/components/teieditor/components/link-editor/link-editor.tsx
  examples/playground/src/components/teieditor/components/mention-list/mention-list.tsx
  examples/playground/src/components/teieditor/components/slash-menu/slash-menu.tsx
  examples/playground/src/components/teieditor/components/table-menu/table-menu.tsx
  examples/playground/src/components/teieditor/components/toolbar/insert-dropdown.tsx
  examples/playground/src/components/teieditor/components/toolbar/toolbar.tsx
  examples/playground/src/components/teieditor/editors/editor-notion.tsx
  examples/playground/src/components/teieditor/editors/editor.tsx
  examples/playground/src/components/teieditor/ui/button.tsx
  examples/playground/src/components/teieditor/ui/toolbar.tsx
  packages/teieditor/registry/components/bubble-menu/bubble-menu.tsx
  packages/teieditor/registry/components/link-editor/link-editor.tsx
  packages/teieditor/registry/components/toolbar/block-type-dropdown.tsx
  packages/teieditor/registry/components/toolbar/insert-dropdown.tsx
  packages/teieditor/registry/components/toolbar/text-color-button.tsx
  packages/teieditor/registry/components/toolbar/toolbar-button.tsx
  packages/teieditor/registry/components/toolbar/toolbar-group.tsx
  packages/teieditor/registry/components/toolbar/toolbar.tsx
  packages/teieditor/registry/editors/editor-notion.tsx
  packages/teieditor/registry/editors/editor.tsx
  packages/teieditor/src/extensions/drag-handle/drag-handle-plugin.tsx
  packages/teieditor/src/extensions/find-replace/find-replace-plugin.tsx
  packages/teieditor/src/extensions/image/image-node.tsx
  packages/teieditor/src/registry/components/bubble-menu/bubble-menu.tsx
  packages/teieditor/src/registry/components/link-editor/link-editor.tsx
  packages/teieditor/src/registry/components/toolbar/block-type-dropdown.tsx
  packages/teieditor/src/registry/components/toolbar/insert-dropdown.tsx
  packages/teieditor/src/registry/components/toolbar/text-color-button.tsx
  packages/teieditor/src/registry/components/toolbar/toolbar-button.tsx
  packages/teieditor/src/registry/components/toolbar/toolbar-group.tsx
  packages/teieditor/src/registry/components/toolbar/toolbar.tsx
  packages/teieditor/src/registry/editors/editor-notion.tsx
  packages/teieditor/src/registry/editors/editor.tsx
  packages/teieditor/src/themes/default.ts
  packages/teieditor/src/utils/positioning.ts
  packages/teieditor/styles.css
Due: prettier --write, eslint --fix

fix(teieditor): make all inserts work without a live selection
  examples/playground/src/components/teieditor/components/toolbar/insert-dropdown.tsx
  packages/teieditor/__tests__/core/insert.test.ts
  packages/teieditor/registry/components/toolbar/insert-dropdown.tsx
  packages/teieditor/src/core/index.ts
  packages/teieditor/src/core/insert.ts
  packages/teieditor/src/extensions/callout/index.ts
  packages/teieditor/src/extensions/embed/index.ts
  packages/teieditor/src/extensions/image/image-plugin.tsx
  packages/teieditor/src/extensions/math/index.ts
  packages/teieditor/src/extensions/table/index.ts
  packages/teieditor/src/extensions/toggle/index.ts
  packages/teieditor/src/registry/components/toolbar/insert-dropdown.tsx
Due: prettier --write, eslint --fix

docs(next-maker): sync README with current tooling, prompts, structure, and test generation
  packages/next-maker/README.md
Due: prettier --write

docs(next-maker): react compiler is stable, not experimental
  packages/next-maker/README.md
Due: prettier --write

chore(deps): bump biome, commitlint, ora, vitest, types, tailwind
  .yarn/install-state.gz
  examples/next-themes/package.json
  examples/playground/package.json
  package.json
  packages/next-maker/package.json
  packages/next-themes/package.json
  packages/teieditor/package.json
  yarn.lock
Due: prettier --write

fix(next-maker): eliminate concurrent spinners in init flow
  packages/next-maker/src/commands/app.ts
Due: prettier --write, eslint --fix

fix(next-maker): never auto-delete user-content dirs in remove
  packages/next-maker/README.md
  packages/next-maker/__tests__/manifests/runner.test.ts
  packages/next-maker/src/commands/remove.ts
  packages/next-maker/src/manifests/http-client.manifest.ts
  packages/next-maker/src/manifests/i18n.manifest.ts
  packages/next-maker/src/manifests/redux.manifest.ts
  packages/next-maker/src/manifests/runner.ts
  packages/next-maker/src/manifests/tests.manifest.ts
  packages/next-maker/src/manifests/types.ts
Due: prettier --write, eslint --fix

feat(next-maker): auto-unwrap provider chains and next.config wraps on remove
  packages/next-maker/README.md
  packages/next-maker/__tests__/manifests/transforms/next-config.test.ts
  packages/next-maker/__tests__/manifests/transforms/unwrap-jsx.test.ts
  packages/next-maker/src/manifests/bundle-analyzer.manifest.ts
  packages/next-maker/src/manifests/dark-theme.manifest.ts
  packages/next-maker/src/manifests/i18n.manifest.ts
  packages/next-maker/src/manifests/redux.manifest.ts
  packages/next-maker/src/manifests/runner.ts
  packages/next-maker/src/manifests/transforms/next-config.ts
  packages/next-maker/src/manifests/transforms/unwrap-jsx.ts
  packages/next-maker/src/manifests/types.ts
Due: prettier --write, eslint --fix

fix(next-maker): respect cli flags in prompts; add type=button to error tsx
  packages/next-maker/__tests__/generators/templates/page.test.ts
  packages/next-maker/__tests__/prompts/component.prompt.test.ts
  packages/next-maker/__tests__/prompts/locale.prompt.test.ts
  packages/next-maker/__tests__/prompts/page.prompt.test.ts
  packages/next-maker/src/commands/component.ts
  packages/next-maker/src/commands/locale.ts
  packages/next-maker/src/commands/page.ts
  packages/next-maker/src/generators/templates/page.template.ts
  packages/next-maker/src/prompts/component.prompt.ts
  packages/next-maker/src/prompts/locale.prompt.ts
  packages/next-maker/src/prompts/page.prompt.ts
Due: prettier --write, eslint --fix

feat(next-maker): add init --yes for one-shot opinionated install
  packages/next-maker/README.md
  packages/next-maker/__tests__/prompts/default-answers.test.ts
  packages/next-maker/src/commands/app.ts
  packages/next-maker/src/prompts/create-app.prompt.ts
Due: prettier --write, eslint --fix

feat: enhance persist template with migrations and versioning; update HTML lang direction in injectors; add check-only option in env sync script
  packages/next-maker/src/generators/templates/persist.template.ts
  packages/next-maker/src/services/setup/i18n/injectors.ts
  packages/next-maker/src/services/setup/validate-scripts/scripts.ts
Due: prettier --write, eslint --fix

refactor: remove console logs from loading and error state handlers in hook template
  packages/next-maker/src/generators/templates/hook.template.ts
Due: prettier --write, eslint --fix

feat: enhance theme management with followSystem option and anti-FOUC improvements
  packages/next-themes/README.md
  packages/next-themes/__tests__/adapters.test.ts
  packages/next-themes/__tests__/env.test.ts
  packages/next-themes/__tests__/provider.test.tsx
  packages/next-themes/__tests__/script.test.ts
  packages/next-themes/__tests__/server.test.ts
  packages/next-themes/__tests__/store.test.ts
  packages/next-themes/src/adapters/cookie.ts
  packages/next-themes/src/adapters/hybrid.ts
  packages/next-themes/src/adapters/local.ts
  packages/next-themes/src/adapters/session.ts
  packages/next-themes/src/components/scoped-theme.tsx
  packages/next-themes/src/components/themed-icon.tsx
  packages/next-themes/src/components/themed-image.tsx
  packages/next-themes/src/core/cursor-tracker.ts
  packages/next-themes/src/core/dom.ts
  packages/next-themes/src/core/env.ts
  packages/next-themes/src/core/script.ts
  packages/next-themes/src/core/store.ts
  packages/next-themes/src/core/view-transition.ts
  packages/next-themes/src/hooks/use-theme-effect.ts
  packages/next-themes/src/hooks/use-theme-value.ts
  packages/next-themes/src/hooks/use-theme.ts
  packages/next-themes/src/providers/client.tsx
  packages/next-themes/src/providers/next.tsx
  packages/next-themes/src/providers/props.ts
  packages/next-themes/src/server.ts
  packages/next-themes/src/server/get-theme.ts
  packages/next-themes/tsup.config.ts
Due: prettier --write, eslint --fix

chore: update package versions and dependencies
  .yarn/install-state.gz
  examples/next-themes/package.json
  examples/playground/package.json
  package.json
  packages/next-themes/package.json
  packages/teieditor/package.json
  yarn.lock
Due: prettier --write

chore: update @teispace/next-themes dependency to version 0.3.1
  .yarn/install-state.gz
  examples/next-themes/package.json
  yarn.lock
Due: prettier --write

chore: update react and react-dom dependencies to version ^19.2.5
  .yarn/install-state.gz
  packages/next-themes/package.json
  packages/teieditor/package.json
  yarn.lock
Due: prettier --write

feat: enhance ThemeProvider and store with scriptProps and setTheme updater function support
  packages/next-themes/__tests__/provider.test.tsx
  packages/next-themes/__tests__/store.test.ts
  packages/next-themes/src/client.ts
  packages/next-themes/src/core/store.ts
  packages/next-themes/src/core/types.ts
  packages/next-themes/src/hooks/use-theme.ts
  packages/next-themes/src/index.ts
  packages/next-themes/src/providers/client.tsx
  packages/next-themes/src/providers/next.tsx
  packages/next-themes/src/providers/props.ts
Due: prettier --write, eslint --fix

chore: bump next-themes example dep to ^0.3.2 to fix lockfile drift
  .yarn/install-state.gz
  examples/next-themes/package.json
  yarn.lock
Due: prettier --write

chore: pin next-themes example to workspace:^ to prevent lockfile drift
  .yarn/install-state.gz
  examples/next-themes/package.json
  yarn.lock
Due: prettier --write

docs: clarify useTheme() error handling and troubleshooting steps in README
  packages/next-themes/README.md
Due: prettier --write

chore: upgrade deps to latest and clean up workspace dep boundaries
  .yarn/install-state.gz
  examples/playground/package.json
  package.json
  packages/next-maker/package.json
  packages/teieditor/package.json
  yarn.lock
Due: prettier --write

ci: drop push trigger from CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,mjs,cjs,ts,json,md,yml,yaml}
  eslint --fix: any of: **/*.{js,mjs,cjs,ts}
